<%- include('partials/header') %>

<div class="jumbotron hero-section centered">
  <div class="container">
    <i class="fas fa-lock fa-6x icon-highlight"></i>
    <h1 class="display-3">Welcome to Secrets!</h1>
<p class="lead">Everyone has secrets. Keep your secrets safe.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
