<%- include('partials/header') %>

<div class="container mt-5 register-container">
  <div class="row">
    <div class="col-md-6">
      <h1 class="text-center">Register</h1>
      <div class="card shadow-sm">
        <div class="card-body">
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" placeholder="Create a password">
            </div>
            <button type="submit" class="btn btn-dark btn-block">Register</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex align-items-center">
      <div class="card social-card shadow-sm w-100">
        <div class="card-body text-center">
          <h3>Or</h3>
          <a class="btn btn-google btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i> Sign Up with Google
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
